<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="../fontawesome/css/solid.css" />
    <link rel="stylesheet" href="../fontawesome/css/thin.css" />
    <link rel="stylesheet" href="../fontawesome/css/light.css" />
    <link rel="stylesheet" href="../fontawesome/css/brands.css" />
    <link rel="stylesheet" href="../fontawesome/css/regular.css" />
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.css" />
    <title>Document</title>
  </head>
  <body class="overflow-hidden">
    <div
      class="w-full h-full bg-slate-400 flex items-center justify-center overflow-hidden"
      style="height: 100vh"
    >
      <div
        class="h-auto w-72 p-2 flex items-center justify-center bg-slate-700 border-2 border-transparent shadow-inner shadow-white overflow-clip z-20"
        style="border-radius: 2rem"
      >
        <div
          class="h-full w-full flex items-center justify-center bg-gradient-to-bl from-blue-400 to-orange-400 border-solid relative overflow-clip z-10"
          style="border-radius: 1rem"
        >
          <div
            class="w-36 h-6 bg-slate-700 absolute flex items-center justify-around -top-1 rounded-b-2xl z-20 px-2"
          >
            <div
              class="bg-gray-900 w-2 h-2 rounded-full shadow-inner shadow-slate-400 flex justify-center items-center"
              style="padding: 1% 0.6% 0 0.5%"
            >
              <div class="bg-gray-800 w-full h-full rounded-full"></div>
            </div>
            <div class="bg-gray-900 h-2 w-14 rounded-3xl"></div>
            <div class="bg-gray-900 h-2 w-2 rounded-full"></div>
          </div>

          <div
            class="w-full h-full backdrop-blur flex flex-col items-center justify-center rounded-2xl z-1 absolute"
          ></div>

          <!-- <div
            class="notification w-32 h-1 mb-1 rounded-2xl absolute bottom-0 flex justify-center bg-white"
          ></div> -->

          <div
            class="notification w-full h-6 absolute top-0 flex justify-between text-white z-10"
          >
            <div class="pl-1">
              <small class="time">02:01</small>
            </div>
            <div class="pr-1">
              <i class="fa-solid fa-signal fa-2xs"></i>
              <i class="fa-solid fa-wifi fa-2xs"></i>
              <i class="fa-solid fa-battery fa-xs"></i>
            </div>
          </div>

          <div
            class="w-full h-full pt-12 px-1 flex flex-col items-center justify-between z-10"
          >
            <div
              class="w-full h-full px-1 flex flex-col items-center justify-evenly gap-2 z-10"
            >
              <div
                class="w-full h-32 p-2 flex flex-col gap-2 bg-gray-50 rounded-2xl"
              >
                <div class="h-full flex justify-between">
                  <div class="flex gap-1">
                    <span
                      class="w-12 flex justify-center items-center bg-gradient-to-bl from-gray-100 to-slate-400 rounded-md"
                      ><i class="fa-solid fa-play"></i
                    ></span>
                    <div>
                      <p>The New Abnormal</p>
                      <small class="text-purple-400">The Strokes</small>
                    </div>
                  </div>
                  <span class="text-purple-400"
                    ><i class="fa-solid fa-music"></i
                  ></span>
                </div>
                <div class="w-full h-full flex items-center gap-2 text-2xl">
                  <span
                    class="w-full h-full bg-gray-300 flex items-center justify-center rounded-md"
                    ><i class="fa-solid fa-users"></i
                  ></span>
                  <span
                    class="w-full h-full bg-gray-300 flex items-center justify-center rounded-md"
                    ><i class="fa-solid fa-compact-disc"></i
                  ></span>
                  <span
                    class="w-full h-full bg-gray-300 flex items-center justify-center rounded-md"
                    ><i class="fa-solid fa-headphones"></i
                  ></span>
                  <span
                    class="w-full h-full bg-gray-300 flex items-center justify-center rounded-md"
                    ><i class="fa-solid fa-guitar"></i
                  ></span>
                </div>
              </div>

              <div class="w-full h-64 grid grid-rows-2 gap-4 grid-cols-2">
                <div
                  class="w-full h-full rounded-xl grid grid-cols-2 grid-rows-2 gap-4"
                >
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-4xl bg-gradient-to-b from-green-500 to-white"
                    ><i class="fa-regular text-cyan-600 fa-map-location-dot"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-red-500 text-4xl bg-slate-50"
                    ><i class="fa-brands fa-youtube"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-pink-600 text-4xl bg-slate-50"
                    ><i class="fa-brands fa-slack"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-slate-700 text-4xl bg-gradient-to-b from-slate-50 to-gray-300"
                    ><i class="fa-solid fa-camera"></i
                  ></span>
                </div>

                <div
                  class="w-full h-full rounded-xl grid grid-cols-2 grid-rows-2 gap-4"
                >
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-cyan-600 text-2xl bg-slate-800"
                    ><i
                      class="fa-light fa-globe fa-2x fa-rotate-by"
                      style="--fa-rotate-angle: -45deg"
                    ></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-slate-700 text-4xl bg-gradient-to-b from-slate-50 to-gray-300"
                    ><i class="fa-solid fa-gear"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-slate-600 text-3xl bg-gradient-to-b from-slate-50 to-gray-300"
                    ><i class="fa-solid fa-calculator"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-orange-400 text-3xl bg-slate-50"
                    ><i class="fa-solid fa-house"></i
                  ></span>
                </div>

                <div
                  class="w-full h-full p-2 flex flex-col bg-gradient-to-b from-purple-300 to-purple-600 rounded-xl text-white"
                >
                  <div
                    class="h-full flex flex-2 items-start justify-around gap-1"
                  >
                    <span
                      class="w-full h-full relative text-5xl text-slate-700 flex flex-2 items justify-center bg-gradient-to-b from-slate-50 to-gray-300 rounded-md"
                      ><i class="fa-solid fa-user absolute bottom-0"></i
                    ></span>
                    <span class="w-full flex flex-1 items-center justify-center"
                      ><i class="fa-light fa-podcast"></i
                    ></span>
                  </div>
                  <div class="w-full flex-1 flex flex-col justify-center">
                    <p
                      class="w-auto h-auto"
                      style="
                        -webkit-text-size-adjust: none;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                          sans-serif;
                        font-size: 6px;
                      "
                    >
                      1H 50M LEFT
                    </p>
                    <p
                      class="h-auto"
                      style="
                        -webkit-text-size-adjust: none;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                          sans-serif;
                        font-size: 6px;
                      "
                    >
                      Bright Kingsley
                    </p>
                  </div>
                </div>

                <div
                  class="w-full h-full rounded-xl grid grid-cols-2 grid-rows-2 gap-4"
                >
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-red-400 text-3xl bg-slate-50"
                    ><i class="fa-solid fa-list"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl text-cyan-600 text-3xl bg-gradient-to-b from-gray-300 to-slate-50"
                    ><i class="fa-regular fa-calendar"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl bg-gray-900 text-gray-100 text-5xl"
                    ><i class="fa-solid fa-clock"></i
                  ></span>
                  <span
                    class="w-full h-full flex justify-center items-center rounded-xl bg-white text-blue-500"
                    ><i class="fa-solid fa-compass text-4xl"></i
                  ></span>
                </div>
              </div>
            </div>

            <div
              class="w-full h-10 text-white flex items-center justify-center gap-1"
              style="font-size: 2px"
            >
              <!-- <i class="fa-solid fa-circle fa-1x"></i
              ><i class="fa-solid fa-circle opacity-50"></i
              ><i class="fa-solid fa-circle opacity-50"></i> -->
              <div class="h-2 w-2 bg-white rounded-full fa-1x"></div>
              <div class="h-2 w-2 bg-white opacity-50 rounded-full fa-1x"></div>
              <div class="h-2 w-2 bg-white opacity-50 rounded-full fa-1x"></div>
            </div>

            <div
              class="w-full h-16 mb-1 px-2 py-2 rounded-2xl bg-opacity-40 bg-white flex items-center gap-2 text-white"
            >
              <span
                class="w-full h-full bg-gradient-to-bl from-green-400 to-green-600 flex justify-center items-center rounded-xl"
                ><i class="fa-solid fa-phone fa-2xl"></i
              ></span>
              <span
                class="w-full h-full bg-gradient-to-b from-blue-600 to-blue-400 text-slate-200 flex justify-center items-center rounded-xl"
                ><i class="fas fa-envelope text-4xl"></i
              ></span>
              <span
                class="w-full h-full bg-gradient-to-bl from-green-300 to-green-500 flex justify-center items-center rounded-xl"
                ><i class="fa-solid fa-comment fa-2xl"></i
              ></span>
              <span
                class="w-full h-full bg-purple-400 flex justify-center items-center rounded-xl"
                ><i class="fa-solid fa-music fa-2xl"></i
              ></span>
            </div>
          </div>
          <div class="h-full w-full absolute -z-20">
            <div
              class="w-1 h-1 absolute animate-spin"
              style="animation-duration: 15s"
            >
              <div class="w-52 h-52 absolute">
                <div
                  class="w-40 h-40 bg-red-400 rounded-full absolute top-0 right-0"
                ></div>
              </div>
            </div>
            <div
              class="w-1 h-1 absolute animate-spin top-1/4 right-0"
              style="animation-duration: 15s"
            >
              <div class="w-52 h-52 absolute">
                <div
                  class="w-40 h-40 bg-red-400 rounded-full absolute top-0 right-0"
                ></div>
              </div>
            </div>
            <div
              class="w-1 h-1 absolute animate-spin bottom-0 right-0"
              style="animation-duration: 15s"
            >
              <div class="w-52 h-52 absolute">
                <div
                  class="w-40 h-40 bg-red-400 rounded-full absolute top-0 right-0"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-full w-full absolute z-10">
        <div
          class="w-1 h-1 absolute animate-spin"
          style="animation-duration: 15s"
        >
          <div class="w-96 h-96 absolute">
            <div
              class="w-96 h-96 bg-red-400 rounded-full absolute top-0 right-0"
            ></div>
          </div>
        </div>
        <div
          class="w-1 h-1 absolute animate-spin top-0 right-0"
          style="animation-duration: 15s"
        >
          <div class="w-96 h-96 absolute">
            <div
              class="w-96 h-96 bg-red-400 rounded-full absolute top-0 right-0"
            ></div>
          </div>
        </div>
        <div
          class="w-1 h-1 absolute animate-spin bottom-0 left-1/2"
          style="animation-duration: 15s"
        >
          <div class="w-96 h-96 absolute">
            <div
              class="w-96 h-96 bg-red-400 rounded-full absolute top-0 right-0"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
